.animated-banner {
  background-image: linear-gradient(60deg, #0d57c6, #37cfff);
  background-color: #37cfff;
  color: #fff;
  padding: 1rem 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4rem;
  padding-left: 0.6rem;
}

.animated-banner span {
  display: inline-block;
  opacity: 0;
  transition: transform 800ms, opacity 800ms;
  transform: translateZ(0) translateY(-8rem);
}

.animated-banner:hover span {
  opacity: 1;
  transition: transform 800ms, opacity 1200ms;
  transform: translateZ(0) translateY(0);
}

.animated-banner span:nth-child(1) {
  transition-delay: 200ms, 300ms;
}

.animated-banner span:nth-child(2) {
  transition-delay: 400ms, 300ms;
}

.animated-banner span:nth-child(3) {
  transition-delay: 500ms, 300ms;
}

.animated-banner span:nth-child(4) {
  transition-delay: 230ms, 300ms;
}

.animated-banner span:nth-child(5) {
  transition-delay: 140ms, 300ms;
}

.animated-banner span:nth-child(6) {
  transition-delay: 700ms, 300ms;
}

.animated-banner span:nth-child(7) {
  transition-delay: 900ms, 300ms;
}
